main {
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #c9d1d9;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-btn-text: #d4d4d4;
  --color-btn-bg: #171717; /* quartz light */
  --color-btn-border: #393639; /* quartz lightgray */
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #393639; /* quartz lightgray */
  --color-btn-hover-border: #6daa6c; /* quartz secondary */
  --color-btn-active-bg: #393639;
  --color-btn-active-border: #6daa6c;
  --color-btn-selected-bg: #393639;
  --color-btn-primary-text: #ffffff;
  --color-btn-primary-bg: #6daa6c;
  --color-btn-primary-border: #6daa6c;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #76b947; /* tertiary */
  --color-btn-primary-hover-border: #76b947;
  --color-btn-primary-selected-bg: #6daa6c;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgba(255, 255, 255, 0.5);
  --color-btn-primary-disabled-bg: rgba(109, 170, 108, 0.6);
  --color-btn-primary-disabled-border: transparent;
  --color-action-list-item-default-hover-bg: #393639;
  --color-segmented-control-bg: #171717;
  --color-segmented-control-button-bg: #171717;
  --color-segmented-control-button-selected-border: #6daa6c;
  --color-fg-default: #ebebec; /* quartz dark */
  --color-fg-muted: #646464; /* quartz gray */
  --color-fg-subtle: #646464;
  --color-canvas-default: #171717; /* quartz light */
  --color-canvas-overlay: #1f1f1f; /* slightly lighter than light */
  --color-canvas-inset: #171717;
  --color-canvas-subtle: #1f1f1f;
  --color-border-default: #393639; /* quartz lightgray */
  --color-border-muted: #393639;
  --color-neutral-muted: rgba(110, 118, 129, 0.4);
  --color-accent-fg: #6daa6c;
  --color-accent-emphasis: #6daa6c;
  --color-accent-muted: rgba(109, 170, 108, 0.4);
  --color-accent-subtle: rgba(109, 170, 108, 0.15);
  --color-success-fg: \#3fb950;
  --color-attention-fg: \#d29922;
  --color-attention-subtle: rgba(187, 128, 9, 0.15);
  --color-danger-fg: \#f85149;
  --color-primer-shadow-inset: 0 0 transparent;
  --color-primer-shadow-focus: 0 0 0 3px #1f6feb;
  --color-scale-gray-7: #21262d;
  --color-scale-blue-8: #0c2d6b;

  /*! Extensions from @catppuccin/giscus */
  --color-canvas-default-transparent: rgba(23, 23, 23, 0);
  --color-btn-primary-hover-bg-transparent: rgba(109, 170, 108, 0);
  --color-btn-primary-hover-border-transparent: rgba(109, 170, 108, 0);
  --color-btn-primary-selected-bg-transparent: rgba(109, 170, 108, 0);
}

main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg);
}

main .gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/spinners/octocat-spinner-32.gif);
}
